#style-switcher {
	position:fixed;
	z-index:1000;
	top:150px;
	right:-222px;
	width:222px;
	background:#fff;
	padding:10px;
	border:1px solid #ddd;
}

#toggle-switcher {
    display:block;
    width:50px;
    height:50px;
	background:#fff;
    position:absolute;
    left:-50px;
    top:-1px;
	text-align:center;
	cursor:pointer;
	border:1px solid #ddd;
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	border-right:none;
}

#toggle-switcher [class*=fa]{
	font-size:32px;
	line-height:50px;
	color:#EA8825;
}

#style-switcher h1 {
    font-size:24px;
    text-align:center;
    color:#666;
    margin:0 0 5px -10px;
}

#style-switcher ul {
    list-style:none;
    margin:0;
    padding:0;
}

#style-switcher ul li{
    display:block;
    width:40px;
    height:40px;
    margin:10px 10px 0 0;
    float:left;
    border-radius:5px;
	cursor:pointer;
}

#style-switcher ul li#style-1{
    background:#008ED6;
}

#style-switcher ul li#style-2{
    background:#0196A7;
}

#style-switcher ul li#style-3{
    background:#F1CF0F;
}

#style-switcher ul li#style-4{
    background:#A0D149;
}

#style-switcher ul li#style-5{
    background:#EA8825;
}

#style-switcher ul li#style-6{
    background:#E83C89;
}

#style-switcher ul li#style-7{
    background:#A93BDC;
}

#style-switcher ul li#style-8{
    background:#F75443;
}

#style-switcher ul li#style-9{
    background:#36D9C3;
}

#style-switcher ul li#style-10{
    background:#38A5DB;
}

#style-switcher ul li#style-11{
    background:#FBDF29;
}

@media (max-width: 767px) {
	#style-switcher {
		display:none;
	}
}
